body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search .input {
    width: 200px;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}